<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
     <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <h2>Forgot Password</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="post" action="{{ url_for('forgot_password') }}">
        <label for="email">Email:</label>
        <input type="email" name="email" required>
        <button type="submit">Reset Password</button>
    </form>



 <script>
        // Function to check for flash messages and display them as alerts
        function displayFlashMessages() {
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    // Loop through each flash message and display it as an alert
                    {% for message in messages %}
                        alert('{{ message }}');
                    {% endfor %}

                    // Redirect to the user_login_page route
                    window.location.href = "{{ url_for('user_login_page') }}";
                {% endif %}
            {% endwith %}
        }

        // Call the function when the document is ready
        $(document).ready(function() {
            displayFlashMessages();
        });
    </script>
</body>
</html>
